@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  linear-gradient(45deg, #F0FFF0, #000000, #00FF00);
  background-attachment:  fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.header,
.slogan,
.about,
.projects,
.experience,
.social,
.footer {
  padding: 50px 25px 25px;
}

/* ------------------------------------------------------ */
/* -- Header -- */

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  color: white;
}

.header img {
  max-width: 300px;
  height: auto;

  margin: 20px auto;

  border-radius: 50%;
}

.header__content {
  width: 400px;
  margin: 0 auto;
}

.header__content h1 {
  font-size: 48px;
}

.header__content p {
  font-size: 32px;
}

.header__content button {
  margin: 25px auto 0;
}

/* ------------------------------------------------------ */
/* -- Slogan -- */

.Slogan img {
  width: 50%;
  height: 20%;
  outline: 2px dashed;
}

.Slogan img:hover {
  animation: opacity 2.5s both;
  filter: blur(0);
  transition:  1.5s ease-in-out;
  transform: scale(1.2, 1.2);
  transform: rotate3d(1, 1, 1, 360deg);
  transition:  1.5s ease-in-out;
}

/* ------------------------------------------------------ */
/* -- About -- */

.about h2 {
  font-size: 42px;
  margin: 25px auto;
  color: white;
}

.about p {
  font-size: 18px;
  line-height: 130%;
  max-width: 95ch;
  color: white;
  padding: 50px;
}

/* ------------------------------------------------------ */
/* -- Projects -- */

.projects h2 {
  font-size: 42px;
  margin: 25px auto;
  color: white;
}

.projects p:hover {
  font-size: 18px;
  line-height: 130%;
  max-width: 50ch;
  filter: blur(0);
  transition:  0.5s ease-in-out;
}

.projects__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projects__card:hover {
  transform: scale(1.2, 1.2);
  transition:  0.5s ease-in-out;
}

.projects__card {
  max-width: 350px;
  background: #fff;
  padding: 20px;

  border: 1px solid #0088BB;
  border-radius: 8px;
}

.projects__card h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.projects__card p {
  font-size: 16px;
  margin: 20px 0;
}

.projects__card img {
  width: 100%;
  height: auto;
  margin: 20px 0 10px;

  border-radius: 8px;
}

.projects__card .button {
  margin: 10px 5px 0;
}

/* ------------------------------------------------------ */
/* -- Education/Experience -- */

.experience h2 {
  font-size: 42px;
  margin: 25px auto;
  color: white;
}

.experience ul {
  margin: 0 0 10px 50px;
  color: white;
}

.experience li {
  font-size: 18px;
  line-height: 130%;
  margin: 15px auto;
  color: white;
}

/* ------------------------------------------------------ */
/* -- Social Media -- */

.social h2 {
  font-size: 42px;
  margin: 25px auto;
  color: #00FF00;
}

.social .button {
  margin: 0 15px;
}

/* ------------------------------------------------------ */
/* -- Footer -- */
.footer {
  margin: 0 auto;
  text-align: center;
  color: #00FF00;
}

/* ------------------------------------------------------ */
/* -- HTML COMPONENTS: BUTTON -- */
.button {
  display: inline-block;

  background:   #00FF00;

  padding: 15px 50px;

  border: none;
  border-radius: 8px;

  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;

  cursor: pointer;

  transition: all 250ms ease;
}

.button:hover {
  background:   #3CB371;
  color: #00FF00;
}
